<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analitic task</title>
</head>
<body>
    <h3>Аналитеческий отчет</h3>

    "IP страны, жители которой чаще всего посещают сайт": {{ get_freq_country }},<br>
    "IP страны, жители которой чаще всего интересуются товарами из категории fresh_fish": {{ get_freq_country_fresh_fish }},<br>
    "Количество неоплаченных корзин":{{ count_not_paid_carts }}, <br>
    "Количество пользователей совершивших повторные покупки": {{ get_amount_freq_users }}<br>
</body>
</html>